name: Hello World Workflow
on:
    push:
        branches:
        - main
jobs:
    hello_world:
     runs-on: sef-hosted
     steps:
        - name: Print Hello World
          run: echo "Hello, World!"
        - uses: actions/checkout@v4  